.sec-nav{
    display:flex; 
    justify-content: center
}

.sec-nav-opciones{
    display:flex; 
    justify-content:space-between
}

.sec-nav-lista{
    display: flex; 
    text-indent: 20px; 
    list-style-type: none;
}

.anchor-nav-lista{
    text-decoration: none; color:rgb(85, 85, 85)
}

.sec-main-1{
    color: rgb(204, 204, 204);color: rgb(75, 75, 75)
}

span{
    font-size: 1.5rem
}

.sec-main-2{
    width: 100%; display: block ;justify-content:center;
}

.sec-main-2-article1{
    width: 100%; 
    display: flex; 
    justify-content:flex-start;
    font-size: 1vw;
}

.sec-main-2-article1-text{
    width: 10%; 
    background-color: rgb(175, 125, 35);
    color: rgb(175, 125, 35);
    margin-bottom: 0px;
    border: solid black 1px;
}

.sec-main-2-article2{
    width: 100%; 
    display: flex; 
    justify-content: flex-end; padding: 23px
    
}

.sec-main-2-article2-text{
    width: 90%; 
    background-color: rgb(255, 250, 244); 
    color:rgb(175, 125, 35); 
    margin-top: 0px; 
    border: solid black 1px;
    padding: 23px
    
}